
/* @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;900&family=Poppins&display=swap'); */

  @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;900&family=Fira+Sans&family=Poppins&display=swap');


body {
    padding: 0;
    margin: 0;
    background-color: #00b712;
    background: rgb(255,255,255);
    background: linear-gradient(0deg,   rgba(255, 162, 0, 0.103) 10%, rgb(255, 255, 255) 90%) ;
    /* font-family: 'Bodoni Moda', serif; */
/* font-family: 'Poppins', sans-serif; */

font-family: 'Bodoni Moda', serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Poppins', sans-serif;
overflow-x: hidden;
  }
  
  /* Responsive Container Styles */
  .container {
    max-width: 100%;
    /* height: 100vh; */
    /* background-color: #00ff08; */
    /* padding: 20px; */
    margin: 0 auto;
    box-sizing: border-box;
  
  }
  
 /* Hamberger */



.mobile-container {
  max-width: 480px;
  /* width: 100%; */
  /* margin: auto;   */
  background-color: #555;
  /* height: 500px; */
  color: white;
  border-radius: 10px;
}

.topnav {
  
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}


.notification{
  padding-top: 8px;
  /* color: red; */
}


 /* hambergr */

  /* Navigation Bar Styles */
  .navbar {
    width: 100%;
    background-color: #afffb2;
    overflow: hidden;
    position: fixed;

  }
  
  .navbar a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* .navbar .logo {
    float: left;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: bold; */
    /* height: 50px; */
  /* } */

  #logo-spires img{
    height: 40px;
    padding-left:10px;
  }
 
  
  .navbar .notification {
    float: right;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    font-size: 20px;
  }
  
  .navbar .upload-button {
    float: right;
    background-color: #008104;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 12px 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-out;
    border-radius: 5px;
    font-weight: 600;
  }
  


  .navbar .upload-button:hover {
    background-color: #004602;
  }


  /* Clear floats after the navbar */
  .navbar::after {
    content: "";
    clear: both;
    display: table;
  }






.menu , li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;

}

.upload-button{
  /* float: right; */
  background-color: #ff9500;
  color: white;
  border: none;
  padding: 10px 18px;
  /* margin: 12px 8px; */
  /* font-size: 16px; */
  cursor: pointer;
  transition: 0.3s ease-out;
  border-radius: 5px;
  font-weight: 600;
}
  


.upload-button:hover{
  background-color: #db8000
}

  /* navbar ends  */


  /* sectionnn */


  * {
    box-sizing: border-box;
}





.outer-section {
   
    display: flex;
    width: 100%;
}

.inner-section {
    width: 50%;
    height: 100vh;
    /* padding: 10px; */
    box-sizing: border-box;
    /* background-color: pink; */

}

.inner-section2 {
  /* background-color: red; */
  width: 50%;
  height: 100vh;
  /* padding: 10px; */
  box-sizing: border-box;

}


.section1{
    /* height: 100vh; */
}







/* search bar  */
.searchbar{
  /* padding: 10px; */
  /* background-color: aquamarine; */
  border: 1px solid rgba(0, 0, 0, 0.345);
  border-top-right-radius: 10px;
  display: inline-block;

 
}

.searchbar button{
  color: rgb(255, 255, 255);
  padding: 15px 25px;
  border-top-right-radius: 10px;
  background-color: #ff9500;
  
  border: none;
  transition: 0.3s ease-out;
  font-weight: 600;

}



.searchbar button:hover{
  background-color: #d57c00;
}

.searchbar ,p ,span{
  word-spacing: 12px;

}
.searchbar input{
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  padding: 10px 15px;
  outline: none;
}


.inner-section-div{
  height: 100%;
  width: 100%;
/* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* float: left; */
}


.inner-section2-div{

 /* padding: 10rem; */
    /* height: 100%; */
    width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* float: left; */
}


.inner-section-div h2{
  font-size: 2.2rem;

}


.inner-section2-div img{
margin: 0 auto;
margin-top: 100px;
height: 80vh;
width: 80%;
  /* float: left; */
}



/* search bar section ends  */








/* section 2 */


.section2{
    /* height: 100vh; */
}


.card-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  /* background-color: cadetblue; */

}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f2f2f2;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;

}


.card:hover{
  border: 2px solid    #004602a0;;
  }


.card h3{
    color: rgb(0, 63, 0);
}

.card h4{
color: rgb(0, 113, 0);
}

.browse-category{
    text-align: center;
    height: 65px;
/* border-top: 1px solid rgba(0, 0, 0, 0.758); */
/* margin-bottom: 30px; */
}




/*  section 2 ends  */









/*  section 3 */
 /* CSS for the card container */
 .cardd-container {


    padding: 20px;
    /* min-height: 60vh; */
    /* background-color: pink; */
    
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.btn-jobs{
    text-align: center;
  
    margin: 0 auto;

    margin-bottom: 60px;
}

.btn-jobs button{
  border: none;
    color: #ffffff;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 600;
    padding: 15px 12px;
    border-radius: 10px;
    transition: 0.3s ease-out;
}


.btn-jobs button:hover{
  background-color: #d57c00;
}




.btn-green{
  border: none;
  padding: 10px 20px;
  color: rgb(0, 38, 0);
  background-color: #ff9500;
  font-size: 10px;
}





/* CSS for the card */
.cardd {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: calc(33.33% - 20px); /* Adjust the width based on the number of cards per row */
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}


.cardd:hover{
border: 2px solid    #004602a0;;
}









/* CSS for card content */
.cardd-title {
    padding-left: 2px;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.cardd-description {

  color: #ff0000;
}


.span_bgwale span{
    width: 10px;
    font-size: 10px;
    background-color: rgba(160, 223, 255, 0.61);
    padding: 6px 15px;
     border-radius: 50px;
     /* margin-right: 10px; */
   
}




#Private{
    background-color: rgba(255, 233, 192, 0.747);
    color:orange;
   
}

#Urgent {
    background-color: rgba(189, 255, 174, 0.76);
    color: rgb(0, 255, 30);
}


#FullTime {
  color: blue;
}

.span_currency span{
    /* background-color: chartreuse; */
  /* margin-right: 15px; */
    font-size: 10px;
   word-spacing: 1px;
   margin-left: 2px;
   color: black;

    /* justify-content: space-between;   */

}


.span_currency i{
    /* background-color: chartreuse; */
  /* margin-right: 15px; */
    font-size: 12px;
    margin-right: 2px;
    /* padding: 4px; */
    padding-left: 2px;
    color: rgb(0, 47, 0);
   

    /* justify-content: space-between;   */

}









/*  section 3  ends */















/* section 4  */

.section04 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* justify-content: space-around; */
  
  /* background-color: aqua; */
    /* gap: 30px; */

  

  }
  
  .carddd {
    flex-basis: calc(25.33% - 20px);
    margin-bottom: 20px;
    border-top: 10px solid #000000;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    /* line-height: 18px; */
  
    /* margin: 0 auto; */
    padding: 20px 10px  10px 10px;
  }
  
  .carddd img{
      padding-top: 10px;
      width: 100%;
      height: 250px;
  }
  





  .image {
    width: 100%;
    height: auto;
  }
  
.text{
    display: flex;
    justify-content: center;
    align-items: center;
}

  /* .text { */
    /* padding: 20px; */
    /* background-color: #f2f2f2; */
    /* text-align: center; */
  /* } */


  .textt{
    /* background-color: cadetblue; */
    /* display: flex; */
    align-items: center;
    gap: 5px;
    /* background-color: azure; */
    /* background-color: rgb(229, 229, 229); */
}
  
  
  .section{
  width: 100%;
  }
/* section 4 ends */




#news_date{
    font-size: 10px;
}


#news_heading{
    font-size: 20px;
    font-weight: 600;
}


#news_content {
    font-size: 12px;
    word-spacing: 5px;
}

#news_link{
  color: blue;
  word-spacing: 1px;
}






/*  section 5 */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.473);
}

.footer-column {
    flex: 1;
    /* text-align: center; */
    margin-bottom: 20px;
}

.footer-column img {
    max-width: 100%;
    height: auto;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}


.footer-img img{
  display: inline-block;
  /* background-color: blue; */
}



.footer-img{
  display: flex;
  gap: 10px;
  /* justify-content: center; */
  /* align-items: center; */
}

.one{
  /* background-color: aquamarine; */
}

.two{
  /* background-color: blue; */
}


.phone-number{
  line-height: 1px;
  padding-bottom: 2px;
  
}

#phone-no  {
    color: blue;
}

.one{
  line-height: 1px;
}

@media (max-width: 768px) {
    .footer-column {
        flex-basis: 50%;
    }



}


/* section 5 ends */





/*  section 6 */

.footerr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.footerr-section {
    text-align: center;   
    flex-basis: 50%;
}

.footerr-social-icons {
    display: flex;
    justify-content: center;
}

.footerr-social-icons a {
    margin: 0 10px;
}


#footer-heading1{
  font-size: 21px;
  font-weight: 600;
}


#Candidates{
  font-size: 21px;
  font-weight: 600;
}



#Employers{
  font-size: 21px;
  font-weight: 600;
}


#AboutUs{
  font-size: 21px;
  font-weight: 600;
}


#Helpful {
  font-size: 21px;
  font-weight: 600;
}




.section5 {
  font-size: 10px;

}







@media (max-width: 768px) {
    .footerr {
        flex-wrap: wrap;
    }

    .footerr-section {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

/* section 6 ends */


@media (max-width: 1600px) {
  .card{
    width: 20%;
    
  }
}

